*{
   box-sizing: border-box; 
}

/* change whole page size and font */
html,body{
    /* margin: 0px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    
}
#header{
        /* background-color: rgb(155, 121, 187); */
        padding: 15px;
        /* cause header to be fix and on to p of everything */
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1000;

}
.navbar-light .navbar-nav .nav-link{
    color: #cebaae;
}
/* #header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
} */
/* .logo{
    font-weight: 700;
    font-size: 34px;
    color: #fff;
    text-decoration: none;
} */
h2{
    font-size: 36px;
}
.container_row{
    padding: 100px 15px;
    margin: 0 auto;
    /* background-color: #75ffcf; */
}
#home{
    /* background-color: tomato; */
    background-image: url('../images/optimize/fzBack.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#about{
    /* background-color: blueviolet; */
    background-image: url('../images/optimize/biography-Faramarz-Rashidi.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#about{
    /* background-color: yellow; */
}
#contact{
    /* background-color: brown; */
    background-image: url('../images/optimize/contact-Faramarz-Rashidi.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main_menu{


}
.main_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.main_menu ul li{
    font-size: 18px;
    display: inline-block;
    margin: 0 0 0 20px;
}
.main_menu ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.4s ease-in-out;
}
.main_menu ul li:hover a,
.main_menu ul li a.active
{
    border-bottom: 2px solid white;
}